.nav-lista-bodegas {
  padding: 10px;
  margin-top: 10px;
}

.nav-item {
  color: black;
  padding: 5px;
  margin-left: 5px;
}

.nav-link-lb {
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.287);
}

.nav-link-lb:hover {
  font-weight: 500;
  color: white;
  background-color: rgb(90, 44, 165);
}

.nav-link-lb:focus {
  font-weight: 550;
  color: #eb8242;
  background-color: rgba(0, 0, 0, 0.287);
}

hr {
  background-color: black;
}
.container-list {
  margin-left: 3%;
}
